<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Read to get started</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
        doloribus assumenda fugiat rerum ducimus odit accusamus harum quidem,
        fugit porro quisquam nisi qui, nam eum sapiente dolorum debitis repellat
        obcaecati.
      </p>
    </div>
    <a href="" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
